<ion-view title="Informações" id="page3" style="background-color:#f8f8f8;">
    <ion-content padding="true" class="has-header">
    	<html>
  <body>    
    <ion-header-bar class="bar-positive">
      <h1 class="title" style="text-align: center">Informações da Célula</h1>
    </ion-header-bar>
    <hr>
    <br>
    <ion-item>
    <strong>Total de Membros:</strong> {{items.length}}
    </ion-item>
    <ion-item>
    <strong>Frequencia média:</strong> {{calculaFreq()|limitTo: 4}}
    </ion-item>
    <ion-item>
    <strong>Visitantes:</strong> {{calculaVisitante()}}
    </ion-item>
  </body>
</html>
    </ion-content>
</ion-view>