<ion-view title="Login" id="page4" style="background-color:#f8f8f8;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/SSaHtntfS4q9TanQjdSD_logo.png" width="70%" height="70%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form1" class="list">
            <ion-list id="login-list2">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.membros" id="login-button1" style="font-weight:600;" class="button button-assertive button-large button-block">Log in</a>
        </form>
        <a ui-sref="signup" id="cellManager-button7" style="font-weight:600;" class="button button-calm button-large button-block">Signup</a>
    </ion-content>
</ion-view>