<ion-view title="Membros" id="page1" style="background-color:#f8f8f8;">
    <ion-content padding="true" class="has-header">
  <html>
  <body>    
    <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete">
        </button>
      </div>
      <h1 class="title">                             </h1>
      <div class="buttons">
        <button class="button" ng-click="add()">
            Add
        </button>
      </div>
    </ion-header-bar>

    <ion-content>

      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
      
      <ion-list show-delete="data.showDelete">

        <ion-item ng-repeat="item in items" 
                  item="item"
                  ng-click="showMembro(item)" class="item-remove-animate">
          {{ item.name |limitTo: 32 }}{{item.name.length > 30 ? '...' : ''}}<img src={{statusMembro[item.status]}} width="7%" height="7%" align="right">
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-calm"
                             ng-click="edit(item)">
            Edit
          </ion-option-button>
          <d ion-show>
        </ion-item>

      </ion-list>

    </ion-content>
      
  </body>
</html>
    </ion-content>
</ion-view>